:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --rtc-border: 5px;
  --rtc-color-secondary: #646cff;
  --rtc-color-third: #535bf2;
  --rtc-spacing-tiny: 5px;
  --rtc-spacing-average: 30px;
  --rtc-spacing-image: 200px;
  --rtc-spacing-large: 320px;
}
* {
  box-sizing: border-box;
  width: fit-content;
}

a {
  font-weight: 500;
  color: var(--rtc-color-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--rtc-color-third);
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  place-items: center;
  min-width: var(--rtc-spacing-large);
  min-height: 100vh;
  padding-left: var(--rtc-spacing-average);
  padding-right: var(--rtc-spacing-average);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* fieldset.vendorClass {
  border: 5px solid darkred;
}
fieldset.priceClass {
  border: 5px solid darkblue;
} */

div.img {
  width: var(--rtc-spacing-image);
}
img {
  width: 100%;
}

button {
  border-radius: var(--rtc-border);
  border: calc(var(--rtc-border) / 2) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  max-width: calc(var(--rtc-spacing-large) * 4);
  margin: 0;
  padding: var(--rtc-spacing-average);
  padding-top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--rtc-spacing-average);
  align-items: center;
  place-items: center;
}
div.producto {
  margin-bottom: var(--rtc-spacing-average);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.producto:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

section {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: nowrap;
}
/* Con esta media query conseguiremos una sola columna en mobile */
@media (max-width: 650px) {
  section {
    flex-direction: column;
    place-items: center;
  }
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
